@model GallagherUniversityStudentPortalSampleSite.RequestedMobileCredentialViewModel
@{
    ViewData["Title"] = "Requested Mobile Credential";
}

    <div class="text-center">
        <h1>You requested a new mobile credential!</h1>
        <p>It's invitation HREF is:</p>
        <pre>@Model.Credential.Invitation.Href</pre>
        <p>
            If this were a real third party service, rather than rendering it to the screen you'd probably stick it in a database table so that the next
            time the mobile app connected back to your service, it could pull the invitation href out of the database table and register it using the Mobile Connect SDK
        </p>
        <p>
            <a href="@Url.Action("Main", new { id = Model.Student.Id })">Go Back</a>
        </p>
    </div>